@model IEnumerable<Medical_Shop_MVC.Models.Medical_Enterprise>

@{
    ViewData["Title"] = "Index";
    var medenterprisesize = ViewBag.medentercount;
}

<h2>Med-Enterprice List</h2>
<h3>All count: @medenterprisesize</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_at)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
